@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Bowlby One');
@import url('https://fonts.googleapis.com/css?family=Black Han Sans');

/*Main Sections*/
body{
	background-color: black;	
	background-image: url('images/fnbl2.jpg');
	background-repeat: no-repeat;
	background-size: 100%;

}

header{
	letter-spacing: 6px;
	padding:15px;
	padding-top: 10px;
	color:white;
	font-size: 13pt;
	border-radius: 15px;
	text-align: center;
	/*
	background-image: url('images/fn_logo2.png');
	background-repeat: no-repeat;	
	background-position: right;
	/*background-size: 296px 83px;*/
	background-color: black;

	font-family: 'Anton'
}


.serverStatus{
	letter-spacing: 0px;
	text-align: center;
	font-size: 11pt;
}

.wrapper{
	font-family: 'Anton';
	/*font-family: "fortniteFont";*/
	display: block;
	padding: 3px;
	border-radius: 15px;
	background-color: rgba(255, 255, 255, 0.3);
	width: 87%;
	margin-left: auto;
	margin-right: auto;
}

.mainContent{
	display: flex;
	margin-right: auto;
	margin-left: auto;
	padding-top: 5px;
	padding-bottom: 2px;
	overflow: hidden;
	width: 100%;
}

.tableWrapper{
	color:white;
	width:85%;
	display: block;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 10px;	
	border :2px solid black;
	border-radius: 15px;
	background-color: black;
	overflow: auto;
	background-image: url('images/fnbl2.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 125%;
}

/*Nav Related*/
.nav{
	width: 250px;
	float: left;
	padding: 10px;
	margin-right:10px;
	background-color: #d6d8dc;
	border-radius:15px;
}

.inputClass{
	text-align: center;
	border:2px solid black;
	border-radius: 15px;
	padding-bottom: 15px;
	background-color: #f2f2f3;
}

.searchHistory, .landerHelper,.back2Stats, .landerGen, .news, .store, .serverStatus{
	border:2px solid black;
	border-radius: 15px;
	margin-top: 15px;
	background-color: #f2f2f3;
	
}

.landerGen button{
	margin-bottom: 10px;
}

.back2Stats, .landerGen, .news, .landerHelper, .searchHistory, #historyTitle, .store{
	text-align: center;
}

.searchHistory ul{
	padding-left: 0px;
}
.serverStatus{
	padding: 5px;
}

.landerHelper:hover,.back2Stats:hover, .landerGen:hover, .news:hover, .store:hover, .serverStatus:hover{
	background-color: #babec5;
	-webkit-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
}


.landerHelper a, .back2Stats a, .news a, .store a {
	text-decoration: none;
	color:black;
	display:inline-block;
	width:100%;
	height:100%;
	padding-top: 10px;
	padding-bottom: 10px;
}



.mapWrapper{
	color:white;
	width:90%;
	display: block;
	padding-left: 30px;
	padding-bottom: 10px;	
	border :2px solid black;
	border-radius: 15px;
	background-color: black;
	overflow: auto;
	width: 812px;
	height: 812px;
	background-image: url('images/map2.png');
	background-repeat: no-repeat;
	background-position: center;
	margin-right: auto;
	margin-left: auto;
}
ul {
	list-style-type: none;
}
#platform{
	margin-right :15px;
}
/*Tables Related*/

#accountName{
	background-color: #d6d8dc;
	color:black;
	width:40%;
	padding: 5px 0px 5px 30px;
	border-radius: 15px;
	font-size: 15pt;
	font-weight: normal;
}

table,td,caption{
	border:2px solid black;
	border-collapse: collapse;

}

table{
	background-color: rgba(242, 242, 243, 0.9);
	color:black;
	margin-bottom: 30px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	letter-spacing: 1px;
}

.storeWrapper{
	width: 500px;
	margin-right: auto;
	margin-left: auto;
}
.dailyDeals, .weeklyDeals{

	background-color: white;
	border-radius: 15px;
	border : 2px solid black;
	padding: 0px 15px 15px 15px;
}

#table1 td,#table2 td,#table3 td{
	width: 10%;
}


td{
	text-align: center;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: white;
	font-size: 14pt;
}

th{
	background-color: #d6d8dc;
	padding: 5px;
}

td:hover{
	transition: all .2s ease-in-out;
	transform: scale(1.03);
	box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.75);
	letter-spacing: 1.5px;
}

caption{
	background-color: #f2f2f3;
	width: 15%;
	text-align:center;
	border-radius: 15px 15px 0px 0px;
	padding:5px 0px 5px 5px;
}
/*
td:nth-child(odd) {
	background-color: #d6d8dc;
}
*/

td:nth-child(even) {
	background-color: #d6d8dc;
}


#platResult{
	text-transform: uppercase;
}

/*Display tables*/

.soloRow, .duoRow, .squadRow, .lifeRow{
	/*width: 860px;*/
}

.newsHeader{
	color:white;
	letter-spacing: 2px;
	font-size: 15pt;
	background-color: black;
	width: 41%;
	margin-bottom:-10px;
	padding-left: 20px;
	border-radius: 15px;
}


/*News Related*/

.newsWrapper{
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	display: inline-block;
	
}
.newsImage{
	float: right;
	margin-top: 20px;
}
.newsBody{
	border:2px solid black;
	border-radius: 15px;
	height: 240px;
	padding: 5px;
	border-radius: 15px;
	background-color: white;
	opacity: 0.85;
	margin:5px;
	width: 50%;
	float: left;
}
.newsBody{
	width: 45%;
	padding: 5px;
}


/*720p plebs*/
@media screen and (max-width: 1400px) { 
	header{
		background-size: 197px 55px;
		font-size: 11pt;
		padding:1px;
		padding-top: 5px;
	}
	.tableWrapper { 
		background-size: 150%;
		padding-left: 30px;
		padding-bottom: 0px;
	}
	.mainContent{
		padding-top: 5px;
		padding-bottom: 2px;
	}
	.wrapper{
		padding: 5px;
		width: 87%;
	}
	.nav{
		width: 220px;
		margin-right: 10px;
	}
	table{
		margin-bottom: 20px;
		width:100%;
		font-size: 10pt;
		padding:1px;
	}
	
	#result{
		font-weight: none;
		font-size: 10pt;
		letter-spacing: 1px;
	}
	
	td{
		text-align: center;
		padding-right: 15px;
		padding-left: 15px;
	}
	th{
		font-size: 11pt;
	}

	/*News*/
	.newsHeader{
		background-color: white;
		color:black;
	}
	.newsWrapper{
		width: 95%;
	}
	.newsImage{
		size:55%;
	}
	.newsBody{
		width: 70%;
	}
	.newsBody img{
		display: none;
	}
	.newsBody{
		width: 45%;
		padding: 10px;
	}
	.newsHeader{
		font-size: 12pt;
	}
	
}

/*Cell css*/
@media screen and (max-width: 600px) { 
	header{
		background-size: 197px 55px;
	}
	body, header, .tableWrapper  { background-image: none; }  
	#accountName{
		padding: 0px;
	}
	table{
		margin-bottom: 20px;
	}
	.wrapper{
		background-color: rgba(255, 255, 255, 1);
	}

}

